body {
    background-color: powderblue;
}
h1 {
    color: blue;
    /* text color */
    font-family: verdana; 
    /* font */
    font-size: 300%;
    /* text size */
}
p {
    color: red;
    font-family: courier;
    font-size: 160%;
    border: 1px solid powderblue;
    /* define a border around the element */
    padding: 30px;
    /* define a space between the text and the border */
    margin: 50px;
    /* space outside the border */
}